<launch>
  <arg name="drone1"  default="drone_1"/>
  <arg name="drone2"  default="drone_2"/>

  <arg name="drone_1_x_pos" default=" 0.0"/>
  <arg name="drone_1_y_pos" default=" -1.0"/>
  <arg name="drone_1_z_pos" default=" 0.3"/>
  <arg name="drone_1_yaw"   default=" 0.0"/>

  <arg name="drone_2_x_pos" default=" 0.0"/>
  <arg name="drone_2_y_pos" default=" 1.0"/>
  <arg name="drone_2_z_pos" default=" 0.3"/>
  <arg name="drone_2_yaw"   default=" 0.0"/>

  <group ns="$(arg drone1)/map_merge">
    <param name="init_pose_x"   value="$(arg drone_1_x_pos)"/>
    <param name="init_pose_y"   value="$(arg drone_1_y_pos)"/>
    <param name="init_pose_z"   value="$(arg drone_1_z_pos)"/>
    <param name="init_pose_yaw" value="$(arg drone_1_yaw)"  />
  </group>

  <group ns="$(arg drone2)/map_merge">
    <param name="init_pose_x"   value="$(arg drone_2_x_pos)"/>
    <param name="init_pose_y"   value="$(arg drone_2_y_pos)"/>
    <param name="init_pose_z"   value="$(arg drone_2_z_pos)"/>
    <param name="init_pose_yaw" value="$(arg drone_2_yaw)"  />
  </group>

  <node pkg="multirobot_map_merge" type="map_merge" respawn="false" name="map_merge" output="screen">
    <param name="robot_map_topic" value="map"/>
    <param name="robot_namespace" value=""/>
    <param name="merged_map_topic" value="map"/>
    <param name="world_frame" value="map"/>
    <param name="known_init_poses" value="true"/>
    <param name="merging_rate" value="0.5"/>
    <param name="discovery_rate" value="0.05"/>
    <param name="estimation_rate" value="0.1"/>
    <param name="estimation_confidence" value="1.0"/>
  </node>

<!--   <node pkg="tf" type="static_transform_publisher" name="world_to_$(arg first_tb3)_tf_broadcaster"  args="10 10 0 0 0 0 /map /$(arg first_tb3)/map 100"/>
  <node pkg="tf" type="static_transform_publisher" name="world_to_$(arg second_tb3)_tf_broadcaster" args="10 10 0 0 0 0 /map /$(arg second_tb3)/map 100"/> -->

  <!-- <node pkg="tf" type="static_transform_publisher" name="$(arg first_tb3)_to_world_tf_broadcaster"  args="-10 -10 0 0 0 0 /$(arg first_tb3)/map /map 100"/>
  <node pkg="tf" type="static_transform_publisher" name="$(arg second_tb3)_to_world_tf_broadcaster" args="-10 -10 0 0 0 0 /$(arg second_tb3)/map /map 100"/> -->
  
</launch>

<!-- http://wiki.ros.org/multirobot_map_merge -->